

.float-right {
  float: right;
}

.float-left {
  float: left;
}





.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

/* public/css/styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}
