

.float-right {
  float: right;
}

.float-left {
  float: left;
}





.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}


.btn-equal-size {
  width: 100px; /* يمكنك تعديل القيمة حسب احتياجاتك */
  height: 36px; /* يمكنك تعديل القيمة حسب احتياجاتك */
}
